body {
    font-family: "Helvetica", "Arial", sans-serif;
}

li {
    color: darkgray;
}

.tanque {
    color: red;
}

#Vi {
    font-size: large;
}

.tanque:hover {
    font-size: large;
    color: black;
}