<!doctype html>
<html lang="es">

<%- include("includes/head") %>

<body class="bg-dark text-light">

<%- include("includes/navbar") %>

<div class="container py-4">

<h1>Galería</h1>

<p>Imágenes de personajes y facciones de Honkai: Star Rail.</p>

<h3 class="mt-4">Personajes</h3>

<div class="row">

<div class="col-md-4 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/kafka.webp" class="card-img-top">
<div class="card-body">
<h5>Kafka</h5>
</div>
</div>
</div>

<div class="col-md-4 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/acheron.webp" class="card-img-top">
<div class="card-body">
<h5>Acheron</h5>
</div>
</div>
</div>

<div class="col-md-4 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/jingliu.webp" class="card-img-top">
<div class="card-body">
<h5>Jingliu</h5>
</div>
</div>
</div>

<div class="col-md-4 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/dan_heng_il.webp" class="card-img-top">
<div class="card-body">
<h5>Dan Heng IL</h5>
</div>
</div>
</div>

<div class="col-md-4 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/trailblazer.webp" class="card-img-top">
<div class="card-body">
<h5>Trailblazer</h5>
</div>
</div>
</div>

</div>

<hr class="my-4">

<h3>Facciones</h3>

<div class="row">

<div class="col-md-6 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/astral_express.webp" class="card-img-top">
<div class="card-body">
<h5>Astral Express</h5>
</div>
</div>
</div>

<div class="col-md-6 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/stellaron_hunters.webp" class="card-img-top">
<div class="card-body">
<h5>Stellaron Hunters</h5>
</div>
</div>
</div>

<div class="col-md-6 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/xianzhou_luofu.webp" class="card-img-top">
<div class="card-body">
<h5>Xianzhou Luofu</h5>
</div>
</div>
</div>

<div class="col-md-6 mb-4">
<div class="card bg-secondary text-light h-100">
<img src="/images/interastral_peace_corporation.webp" class="card-img-top">
<div class="card-body">
<h5>Interastral Peace Corporation</h5>
</div>
</div>
</div>

</div>

</div>

<%- include("includes/footer") %>

</body>
</html>