<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">HSR Express</a>

        <div class="collapse navbar-collapse show">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/personajes">Personajes</a></li>
                <li class="nav-item"><a class="nav-link" href="/facciones">Facciones</a></li>
                <li class="nav-item"><a class="nav-link" href="/galeria">Galería</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="/preguntas">Preguntas</a></li>
            </ul>
        </div>
    </div>
</nav>